* { 
	margin: 0;
	padding: 0;
}


h1{ font-size:50px;
	 margin-bottom:50px;
	}
.container{ 
		margin:50px;
		width: 80%;
		}
.header {
	margin-bottom: 50px;	
}
.menu1 {
		background-color: #555555;
}


li {
	display: inline-table;
	font: 20px Arial, sans-serif;
	margin: 20px;
	vertical-align: middle;
	width: 100px;	
}
.men li  {
	color: #fff;
	text-decoration: none;
	padding: 20px;
}
  li a:visited {
    color:  #fff; /* Цвет посещенной ссылки */
   } 
  li a:hover {
    text-decoration: none; /* Убираем подчеркивание */
    color: #fff; /* Цвет ссылки при наведении на нее курсора мыши */  
    background: #424242; /* Цвет фона */
	padding: 20px;
	
   }
.cont2{
	position: absolute;	
	margin-right: 25px;
	background-color: #fff;
	width: 20%;
	border: 1px solid #bdbdbd;
}

.menu2 {
	 
	 color: #7a7878;
	 padding: 15px 20px;
	 text-align: left;
	 border: 1px solid #bdbdbd;
	 font: 16px Arial, sans-serif;
	 
}

.menu2:hover{
	text-align:center;
	 color:2c2c2c;
}


a {
	text-decoration: none;
	color: black;	
}

.content {
	width: 70%;	
	float: right;
}


.imgcontent {
	display: block;
	width: 100%;
	border: 1px solid #bdbdbd;
}

p {
	padding: 20px;
}	
	
.footer {
	clear: both;
	background-color: #bdbdbd;
	overflow: hidden;
	
}



.footermenu li {
	float: left;
	display: inline-block;
	vertical-align: middle;
	width: 5%;
	font: 14px Arial, sans-serif;
	margin: 5px;
	padding: 20px;
		
}
.footermenu>li a {
	color: black;
}
.all {
	float: right;
	color: black;
	font: 14px Arial, sans-serif;
	margin: 5px;
}
